body {
    background-color: rgb(0, 117, 209);
}
.heading {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
.calc {
    border: 15px groove black;
    outline: 2px solid wheat;
}
.display {
    color: black;
    background-color: white;
    margin-top:20px;
    margin-bottom:20px;
    width: 100%;
    padding: 20px;
    font-size: xx-large;
    font-weight: bolder;
}
.num {
    width: 100%;
    font-weight: bolder;
    font-size: xx-large;
}
.btn_div {
    padding: 10px;
}
button:focus { 
    outline: none;
}
button:hover {
    color: white;
    background: rgb(0, 117, 209);
}
#del1 {
    background-color: orange;
}
#del1:hover {
    background-color: orangered;
}
#equal {
    background-color: rgb(0, 153, 255);
}
#equal:hover {
    background-color: rgb(0, 100, 255);
}